import React from 'react';
import PropTypes from 'prop-types';
import './{{dotCase name}}.scss';
import { useTranslation } from 'react-i18next';

export default function {{pascalCase name}} ( props ) {
const { t } = useTranslation( );

return (
<div className="{{camelCase name}}">
  {{sentenceCase name}} Page!
</div>
);
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};